*.o
*.a
*.exe
!kindlegen/windows/kindlegen.exe
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.svg
*.7z

*.[568vq]
[568vq].out

.undodir/
.idea/
.vscode/
build/
build_*/
bin/
bin_*/
_obj/
_test/
testdata/
static/dictionaries/*.txt
static/sentences/*.json

# build specific
misc/version.go

# errors & profiles - github/pkg
pkg/
!vendor/**/pkg/

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
.session.vim
.set-project-env
*.swp
