*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.syso

# build specific
build/
build_*/
misc/version.go
!static/dictionaries/*.txt
!static/dictionaries/*.txt.gz
!static/sentences/*.json
!static/sentences/*.json.gz
!kindlegen/windows/kindlegen.exe
!static/resources/LinLibertine_RBah.ttf.gz
fb2c_*.zip
fb2c_*.minisig

/.devcontainer
