*.o
*.a
*.exe
!kindlegen/windows/kindlegen.exe
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.svg
*.7z

build/
build_*/
bin/
bin_*/
_obj/
_test/
testdata/
static/dictionaries/*.txt
static/sentences/*.json

# build specific
misc/version.go

# errors & profiles - github/pkg
pkg/
!vendor/**/pkg/
